# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List popular Libraries for Data Science
* Code Sample

Some of the popular languages that Data Scientists use are:
* Python
* C
* R

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Scikit-learn

|Data Science Tools|
|-----|
|Jupyter Notebook|
|Rstudio|
|VSC|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
print("200 mins to hr", 200/60)

200 mins to hr 3.3333333333333335

## Author 
Dat Dao